* {
  font-family: 'Athiti', sans-serif;
}


/*header*/
header{
  font-size: 5em;
  margin: 0 auto;
  text-align: center;
  width:60%;
  display:block;
}
header a{
  text-decoration: none;
  color: black;
}

/*nav bar*/
#nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  padding: 0;
  background-color: white;
  border: 1px solid #ccc;
}
#nav ul {
  list-style: none;
  width: 32%;
  margin: 0 auto;
  padding: 0;
}
#nav li {
  float: left;
}
#nav li a {
  display: block;
  padding: 8px 30px;
  text-decoration: none;
  color: black;
  border-right: 1px solid #ccc;
}
#nav li:first-child a {
  border-left: 1px solid #ccc;
}
#nav li a:hover {
  color: white;
  background-color: gray;
  font-weight: bold;
}

/**********flash card CSS********/


.stage{
  -webkit-perspective: 1000;
  perspective: 800px;
}
.card {
  height: 300px;
  width: 500px;
  margin: 10% auto;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flipped, .back, .back1 {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.front, .back, .front1, .back1 {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
}
.back, .back1 {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  background: white;
}
.front p {
  margin-top 25%;
  font-size: 3em;
  font-weight:bold;
}

#line2 {
  color: gray;
  font-size: 1em;
}

.back p {
  margin-top 25%;
  font-size: 2em;
}

/*steps flashcard*/

#steps{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}



/*button to start*/
.getstarted{
  width: 200px;
  border-radius: 30%;
  margin: 0 auto;
  display: block;
  font-size: 2em;
  bottom: 100px;
  position: relative;
  text-decoration: none;
  color: white;
  background: black;
  text-align: center;
}

.getstarted:hover{
  border: 2px solid black;
  background: white;
  color: black;
}


/* ------- flashcardgame.html-----------*/



/*tabs for flashcard game*/
/*----- Tabs -----*/
.tabs {
  width:100%;
  display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tab-links a {
  padding:18px 30px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background:#7FB5DA;
  font-size:16px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
}

.tab-links a:hover {
  background:#a7cce5;
  text-decoration:none;
}

li.active a, li.active a:hover {
  background:#fff;
  color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}
