@import "compass/css3";

* {
  font-family: 'Athiti', sans-serif;
}


/*header*/
header{
  text-align: center;
  display:block;
}
header a{
  text-decoration: none;
  color: black;
  font-family: 'Vast Shadow', cursive;
}

header a:hover{
  text-decoration: none;
}

.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    height: 90px;
    text-align: center;
    text-decoration: none;
    z-index: 1; */
    position: relative;
    border-radius: 50%;
}

.hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}
.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.hovicon.effect-8 {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}
.hovicon.effect-8:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.hovicon.effect-8:hover {
    background: rgba(255, 255, 255, 0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: black;
}
.hovicon.effect-8:hover i {
    color: #fff;
}
.hovicon.effect-8:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}


/*nav bar*/
#nav {
  width: 100%;
  float: left;
  margin: 1%;
  padding: 0;
  background-color: white;
  border: 1px solid #ccc;
}
#nav ul {
  list-style: none;
  width: 32%;
  margin: 0 auto;
  padding: 0;
}
#nav li {
  float: left;
}
#nav li a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: black;
  border-right: 1px solid #ccc;
}
#nav li:first-child a {
  border-left: 1px solid #ccc;
}
#nav li a:hover {
  color: white;
  background-color: gray;
  font-weight: bold;
}

/**********flash card CSS********/


.stage{
  -webkit-perspective: 1000;
  perspective: 800px;
}
.card {
  height: 300px;
  width: 500px;
  margin: 10% auto;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
}

.card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.flipped, .back, .back1 {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.front, .back, .front1, .back1 {
  height: 300px;
  width: 500px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
}

.back, .back1 {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  background: white;
}

.front p {
  margin-top 25%;
  font-size: 3em;
  font-weight:bold;
}

#line2 {
  color: gray;
  font-size: 1em;
}

.back p {
  margin-top 25%;
  font-size: 2em;
}

/*steps flashcard*/

#steps{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}



/*button to start*/
.getstarted{
  width: 200px;
  border-radius: 30%;
  margin: 1% auto;
  display: block;
  font-size: 2em;
  bottom: 100px;
  position: relative;
  text-decoration: none;
  color: white;
  background: black;
  text-align: center;
}

.getstarted:hover{
  border: 2px solid black;
  background: white;
  color: black;
}


/* ------- flashcardgame.html-----------*/



/*tabs for flashcard game*/
/*----- Tabs -----*/
.tabs {
  width:100%;
  display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

.tab-links li {
  margin:0px 5px;
  float:left;
  list-style:none;
}

.tab-links a {
  padding:18px 30px;
  display:inline-block;
  border-radius:3px 3px 0px 0px;
  background:#7FB5DA;
  font-size:16px;
  font-weight:600;
  color:#4c4c4c;
  transition:all linear 0.15s;
}

.tab-links a:hover {
  background:#a7cce5;
  text-decoration:none;
}

li.active a, li.active a:hover {
  background:#fff;
  color:#4c4c4c;
}

/*----- Content of Tabs -----*/
.tab-content {
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background:#fff;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}

.insertbutton {
  margin: 0 38%;
}
